!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/ace/build/src/ace.js')
    script(src='/socket.io/socket.io.js')
    script
        window.file = "#{file}";
    script(src='javascripts/main.js')

  body!= body